.ads h3{
  background-color: #EBC2C2;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  margin: 10px 0 5px;
  padding: 6px;
  text-transform: uppercase;
}

.ads h5{
  font-size: 16px;
}

.ad a{
  color: #a30002;
}

.ad a:hover{
  color: #a30002;
}

.ad p {
  font-size: 11px;
  line-height: 1.15;
  margin: 5px 0;
}

.profileButton a{
  top: 17px;
}

#search{
  margin-top: 7px!important;
}

@media only screen and (max-width: 1550px){
  .posts{
    margin-top: 5%;
  }
}

.nomargin{
  margin: 0 auto!important;
}