*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  --mainpink: #FBF2F2;
  --borderCol: #EBC2C2;
  --descBg: #F7E5E5;
}

::-webkit-scrollbar{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 10px;
}

/* ::-webkit-scrollbar:hover{
  width: 20px!important;
} */

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb{
  background-color: rgba(199, 199, 199, 0.8);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #6c6e7181;
}

body{
  font-size: calc(1vw + 1vh + .5vmin);
  background-color: var(--mainpink)!important;
}

nav{
  position: relative;
  min-height: 56px;
  width: auto;
  background-image: linear-gradient(to bottom, #c60101, #aa0101);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

.btn-dark{
  background-image: linear-gradient(to bottom, #444444, #222222)!important;
  background-repeat: repeat-x!important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)!important;
}

.btn-dark:focus{
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#search{
  margin-top: 2px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

#searchMod{
  z-index: 10;
  position: absolute;
  margin-top: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
}

#searchBar{
  position: relative;
  display: flex;
  /*margin-left: 32%;
  margin-top: 34%; 
  margin-top: 100px;*/
  margin: 200px auto;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.toastError{
  z-index: 11;
  opacity: 1;
  transition: opacity 3s ease-out;
}

.fadeOut{
  opacity: 0!important;
}

.fadeIn{
  opacity: 1!important;
}

.closedSearch{
  display: none;
}

nav h1{
  margin: 0px;
}

#logo{
  color: #fff;
  height: 28px;
  width: 152px;
  float: left;
  margin: 9px 0 0 0;
  background-image: url('/assets/img/logo-small.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

#signinButton{
  margin-top: 1%;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 1000px){
  #signinButton{
    margin-top: 1.5%;
  }
}

#signinButton a{
  max-height: 38px;
  width: 97px;
  padding: .25rem .5rem;
  font-size: .675rem;
  line-height: 1.5;
  border-radius: .2rem;
}

@media only screen and (min-width: 1400px){
  #signinButton a{
    height: 30px;
    line-height: 20px;
    font-size: 11px;
  }
}

.btn-sm{
  padding: 0.10rem -0.5rem!important;
}

.profileButton a{
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 20px;
  text-decoration: none;
  color: #252428!important;
}

.profileButton a:link,
.profileButton a:active,
.profileButton a:visited,
.profileButton a:focus,
.profileButton a:hover{
  text-decoration: none;
}

#filter{
  margin-top: 1%;
  position: absolute;
  margin-left: 1%;
}