.profilePic{
  padding: 0px!important;
  overflow: hidden;
  height: 172px;
  width: 100%;
  user-select: none;
}

.borderPic{
  padding: 3px!important;
  margin: 20px 0 0 20px;
  height: 172px;
  width: 172px;
  border: 1px solid var(--borderCol);
  background-color: #fff;
  z-index: 2;
}

header{
  min-height: 220px;
  border: 1px solid var(--borderCol);
  background-color: #fff;
}

.name h1{
  margin-top: 20px;
  color: #A30002;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

.description{
  background-color: var(--descBg);
  padding-right: 0px!important;
}

.banner{
  margin-right: -37px!important;
  margin-left: -207px!important;
}


.banner p{
  padding-left: 195px;
  font-size: 14px;
  margin-bottom: 0px;
}

.banner input{
  margin-left: 195px;
}

@media only screen and (min-width: 990px){
  .banner{
    margin-right: -58px!important;
    margin-left: -267px!important;
  }
  .banner p{
    padding-left: 253px;
  }
}

@media only screen and (min-width: 1200px){
  .banner{
    margin-right: -72px!important;
    margin-left: -312px!important;
  }
  .banner p{
    padding-left: 300px;
  }
}

@media only screen and (max-width: 770px){
  .banner{
    margin-right: -23px!important;
    margin-left: -162px!important;
  }
  .banner p{
    padding-left: 150px;
  }
}


@media only screen and (max-width: 500px){
  .description{
    padding-right: 15px!important;
  }
  .banner p{
    padding-left: 0px;
  }
}

@media only screen and (min-width: 1000px){
  .banner input{
    margin-left: 250px!important;
  }
}

@media only screen and (min-width: 1200px){
  .banner input{
    margin-left: 300px!important;
  }
}

.bannerPhone{
  margin-left: -15px!important;
  margin-right: 0px!important;
}

.stalkers{
  margin-right: 8px;
  padding-top: 10px;
  color: #aaa;
  font-size: 14px;
}

.stalk{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  font-size: 13px;
  border-radius: 4px;
  padding: 3px 9px;
  margin-top: 16px;
  border: 1px solid #bbbbbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

hr{
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eddddd;
  border-bottom: 1px solid #ffffff;
}

footer p{
  color: #aaa;
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
}

.about{
  margin-top: 16px;
}

.about p,
.about textarea{
  margin-bottom: 0px;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 14px;
}

.divImage{
  margin-top: 10%;
}

.post{
  min-height: 130px;
  border: 1px solid var(--borderCol);
  background-color: #fff;
  margin: 16px;
  padding: 15px;
}

#postTxt{
  padding-left: 2%;
  padding-right: 2%;
}

.postBanner a{
  position: absolute;
  margin-top: 4px;
  margin-left: 12px;
}

.postBanner a:link,
.postBanner a:active,
.postBanner a:visited,
.postBanner a:focus{
  text-decoration: none;
  color: #A30002;
}

.postBanner a:hover{
  text-decoration: underline;
}

.postContent p{
  font-size: 13px;
  letter-spacing: 0.3px;
}

.postBanner span{
  float: right;
  margin-top: 7px;
  font-size: 13px;
}

@media only screen and (max-width: 1000px){
  .postBanner span{
    font-size: 11px;
    margin-top: 8px;
  }
}

.postFooter span{
  font-size: 11px;
  color: #aaa;
  font-weight: bold;
}

.postFooter svg{
  color: #aaa;
}

.raise{
  font-weight: bold;
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: 1em;
  padding: 1em 2em;
  color: #F7E5E5;
  border-color: #F7E5E5;
  transition: 0.25s;
  border-radius: .2rem;
}

.raise:hover,
.raise:focus,
label[for="profilePic"]:hover,
label[for="profilePic"]:focus,
label[for="postImageButton"]:hover,
label[for="postImageButton"]:focus{
  border-color: #ffcdaa!important;
  color: #ffcdaa!important;
  box-shadow: 0 0.5em 0.5em -0.4em #AC0101!important;
  transform: scale(1.025);
  outline: none;
}

#postOpen{
  position: relative;
}

#postSmth{
  margin: auto;
}

#postpost{
  margin: 1em;
  padding-bottom: 25px;
}

.postImage{
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

input[name="postSub"]{
  position: absolute;
  right: -20px;
  bottom: -20px;
  font-weight: bold;
  background: none;
  border: 2px solid;
  line-height: 1;
  padding: 0.5em 0.5em;
  color: #F7E5E5;
  border-color: #F7E5E5;
  transition: 0.25s;
  border-radius: .2rem;
  outline: none;
}

.postImage img:hover {cursor: zoom-in;}

#modalImage{
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modalImage-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modalImage-content, #caption{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#closeModalImage svg{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#closeModalImage svg:hover,
#closeModalImage svg:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modalImage-content{
    width: 100%;
  }
}

#postImageButton{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#postpost label{
  background: none;
  border: 2px solid #F7E5E5;
  line-height: 1;
  padding: 0.5em 0.5em;
  color: #F7E5E5;
  transition: 0.25s;
  border-radius: .2rem;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: -18px;
  left: 15px;
}

.ads h3{
  background-color: #EBC2C2;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  margin: 10px 0 5px;
  padding: 6px;
  text-transform: uppercase;
}

.ads h5{
  font-size: 16px;
}

.ad a{
  color: #a30002;
}

.ad a:hover{
  color: #a30002;
}

.ad p{
  font-size: 11px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.ad{
  text-align: center;
}

.profileButton a{
  bottom: 4px!important;
}

.toggleImageDiv{
  border: 1px solid grey;
  text-align: center;
  padding: 5%;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 25px;
}

.toggleImageDiv p{
  padding: 0px;
}

.toggleImageDiv:hover,
.toggleImageDiv:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #AC0101!important;
  transform: scale(1.025);
  outline: none;
}

#imagesMod{
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.imagesMod-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.imagesMod-content{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#closeimagesMod svg{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 100;
}

#closeimagesMod svg:hover,
#closeimagesMod svg:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .imagesMod-content{
    width: 100%;
  }
}

.carousel-item img{
  margin: 0 auto;
  padding: 5%;
}

.carousel-caption{
  backdrop-filter: blur(1px);
  font-size: 12px;
}

.profilePicEdit input[type='submit']{
  display: block;
  margin: 48% auto;
  text-align: center;
  width: 80px!important;
}

#focusout{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.postBanner img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.profilePicEdit label{
  background: none;
  border: 2px solid #F7E5E5;
  line-height: 1;
  padding: 0.5em 0.5em;
  color: #F7E5E5;
  transition: 0.25s;
  border-radius: .2rem;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
}

#profilePic{
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.liked svg path,
.liked{
  color: #bd362f;
}

.comms{
  background-color: #EDEDED;
}

.comm-banner span{
  float: right;
}

.comm-banner{
  margin-right:3%;
  margin-left: 3%;  
}

.comm-banner img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comm-banner a{
  font-size: 1em;
  margin-left: 2%;
}

.comm-banner a:link,
.comm-banner a:active,
.comm-banner a:visited,
.comm-banner a:focus{
  text-decoration: none;
  color: #A30002;
}

.comm-banner a:hover{
  text-decoration: underline;
}

.comm-content{
  margin: 10px 3% 0px 3%;
}

.comm-content p{
  margin-bottom: 0px;
  font-size: 0.8em;
}

.commenter{
  border: 1px solid #EBC2C2;
  border-radius: 25px;
  background:none;
  outline:none;
  font-size: 11px;
  color: #aaa;
  font-weight: bold;
  padding: 1%;
  margin: 0px 0px 0px 2%;
  padding: 10px;
}

.commenter:hover{
  color: #EBC2C2!important;
  border-color: #EBC2C2!important;
}

#closeCommentModal svg{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#closeCommentModal svg:hover,
#closeCommentModal svg:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#commentModal{
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}

#commentModal button{
  border: none;
  border-radius: 50%;
  background: none;
  position: absolute;
  font-size: 30px;
  transition: all 0.1s ease-in;
  outline: none;
}

#commentModal textarea{
  border-radius: 25px;
  padding: 1%;
  outline: none;
}

#commentModal button:hover{
  transform: scale(1.2, 1.2);
}

#commentModal svg path{
  color: #aaa;
}

.xDelete{
  position:relative;
  font-size:1.4em!important;
  top:-25px;
  right:-10px;
  cursor: pointer;
}

#deletePost{
  display: none;
  background-color: #fff;
  position: fixed;
  top: 40%;
  left: 43%;
  z-index: 20;
  border: 1px solid var(--borderCol);
  border-radius: 10px;
  padding: 20px;
}

#deletePostForm{
  text-align: center;
}

#deletePostForm button{
  margin-right: 1.5em;
}

#deletePostForm button,
#deletePostForm input{
  padding: 1.5% 5%;
}